<p>
  Once home, you lock the front door behind you and start to read the report.  It is filled with a lot of very vague descriptions.  As you go, some sections jump out at you, like this one:
</p>

<blockquote class="report">
  <p>...8 out of the 9 lost tenants reported impaired "green" vision the first morning.  A report was not retrieved from the ninth lost tenant.
  </p>
</blockquote>

<p>
  These tenants are obviously human, having "reported" on their vision.  You try not to think too much about what "lost" means.
</p>
<p>
  "Where is this happening?  Could it be in the building where you work?" you wonder.
</p>

<p>
  You find some descriptions of residences.  It seems like each tenant is kept in a room apart from others, but near each other, like in the same wing of a building or something.  You keep reading, looking for clues as you turn through each page.  There's several other mentions of "green vision," but nothing more descriptive than that.
</p>

