<p>
  "No way!" you growl, picking up the chair and charging toward the man.  You easily knock him over.  The syringe flies from his hand and breaks against the wall.
</p>

<p>
  "No!" the man yells.  "You don't know what you're doing!"  He tries to get up, but you shove the chair into his chest again.  He falls to the floor, dazed.  You jump to the door and grasp the handle, but you suddenly hear the beeps of a code being entered on the other side.  <thought>The guard.</thought>
</p>

<if any="mitchell-plan">
  <true>
    <p>
      <thought>I wonder how this changes Mitchell's plan.</thought>
    </p>
  </true>
</if>

<p>
  You spin around quickly, throw the chair at the man, run to the other door, pull it open and jump through.  You find yourself in a large laboratory.  There are many tables filled with glass paraphernalia that remind you of a college chemistry lab.  And there are several people in lab coats standing at those tables.  All of them turn toward you, startled.
</p>

<p>
  But you don't stop running.  To your left is a wall of windows with a door at the far right corner.  <thought>That's the door I need.</thought>
</p>


<div class="prompt">What's your strategy?</div>

<choice goto="throw-glass">All out offense</choice>
<choice goto="run-fast-through-lab">Run fast</choice>
