<key name="mitchell-caught"></key>
<key name="mitchell-not-trust"></key>

<p>
  You take your chances.
</p>

<p>
  "Sandstone Tenants," you manage to get out.  "We're on to you... Mitchell."
</p>

<p>
  "What!?  No, you don't know about that.  How... what?  No one said you were..." he trails off.  You have unnerved him.  If you can just catch him off guard, you might be able to make it back through the door.
</p>

<p>
  But there's no need.  He shoves you once more then jumps off your back and runs through the door, down the stairs.  You seem to have scared him.
</p>

<p>
  You've had enough excitement tonight&mdash;you want to get out of here.  Mitchell now knows that you're on to him, but you don't want that missing page implicating you further.  Quickly, you run over to the elevator and start searching for the paper.  Nothing.  Not at the elevator or by the copier.  You're still worried about finding it, but being in this dark office (especially after being attacked) worries you more.  You head back down stairs.
</p>

<p>
  As you descend, you run over your options in your mind.  Coming back to work is out of the question.  Going back home might be out of the question, too.  You don't even know who you're dealing with.  You step down onto the second floor landing, then
</p>

<p>
  You hear a loud <i>POP!</i> and see a flash of light.  Almost at the same time, you're knocked in the chest by something that seems to grab you and... oh, the pain!  You cry out and fall backward.  You seem to fall so slowly.  The last thing you remember is the otherwise satisfyingly hollow sound your head makes as it strikes a drain pipe in the stairwell corner.
</p>

<p>
  <i>Thud.</i>
</p>

<p>
  <i>Darkness.</i>
</p>

<div class="prompt">
  What do you do?
</div>

<choice goto="wake-up-in-sandstone-cell">Hold very still and dream sweet dreams.</choice>