<key name="mitchell-plan"></key>

<p>
  You walk briskly up to the line of greys, then past several of them until you're right behind Mitchell.  At this point, you see a man in black body armor directing the line of people into a building up ahead.
</p>

<p>
  "Mitchell," you whisper.  He keeps walking.  "Mitchell," you hiss.  He turns around.  He looks you over with weary eyes.
</p>

<p>
  "You don't look so good," he says.
</p>

<p>
  "You either."
</p>

<p>
  "I suppose not," he admits.  "Listen," he grabs your arm and pulls you next to him as he turns around and continues walking.  "I'm pretty sure my team knows I'm here, but I'm not sure if they'll make it in time.  We need to escape.  Can you help me get a flat head screwdriver?"
</p>

<p>
  "I can try.  Why?  What do you have in mind?"
</p>

<p>
  "I noticed that the window on my room is secured from the outside with screws.  If we can..." you nod, understanding.  "Great," he says.  He seems more excited after vocalising his plan.  The wheels are turning.
</p>

<p>
  "Oh, and we'll need some way of signaling my team once we get out.  Something they can't miss.  And food.  And we'll need a place to stash it, since they'd probably notice if we took it into our rooms."
</p>

<p>
  You walk a few more paces together before speaking up: "Mitchell?  What are they going to do to us?"
</p>

<p>
  You've nearly walked to where the sable guard stands.  Mitchell quietly answers, "Keep us alive until they need us.  They gave us a virus.  We don't know everything about it or why they kidnap people for tests, but there's no cure."  Seeing your terror, he adds with an obviously-forced smile, "yet."
</p>

<p>
  "Come on.  Keep quiet." the guard calls out.  He seems pretty relaxed for a guy wearing body armor.  And carrying the gun you just noticed.  He's wearing a helmet that prevents you from seeing very much of his face.  "Scan your code inside," he says, gesturing toward the door.
</p>

<hr/>

<ng-include src="'templates/story/snippets/walking-in-to-get-a-shot.html'"></ng-include>

