<p>
  You decide to confront Mitchell.  Not long after deciding, you see a shadow approach the front door from inside.  You instinctively crouch a little more behind the shrub.
</p>

<p>
  He emerges carefully, looking all around.  You catch another glimpse of his face.  He looks determined, but not nervous as you imagine you would be.  He's not carrying anything in his hands.  He scans the parking lot then moves out quickly, keeping to the unlit bushy area.
</p>

<p>
  You walk after him.
</p>

<p>
  Up ahead, you see Mitchell disappear at the edge of the bushes as he turns left, into the street.  Not wanting to lose him, you quicken your pace, nearly running until you stop at the edge of the bushes to see where he goes.  You peek around the corner.  Mitchell's walking along the sidewalk.  There's a dark car parked on this side of the street about twenty feet in front of Mitchell.  He approaches the car, slows down, stops.
</p>

<p>
  <thought>What's he doing?</thought>
</p>

<p>
  He stands with his hands in his pockets, like he's waiting for something.  He doesn't even acknowledge the car.  Then, he suddenly continues walking down the street.
</p>

<p>
  You start following again, avoiding street lights as best you can.  It's cold, but you're warmed somewhat by your adrenaline.  <thought>I've never tailed anyone before!</thought>  As you approach the car, Mitchell is about to turn another corner.  You speed up again.
</p>

<p>
  Without warning, the passenger side doors of the car burst open and two people lunge out at you.  "Aaaahhhhhh!" you yell, jumping several feet into the air&mdash;you start running for your life.  You can hear the feet of your pursuers pounding down the sidewalk after you.  They're gaining.  You don't dare turn around.  You scan ahead to see where...
</p>

<p>
  "Oh no," you mutter.  Mitchell has turned and is running right toward you.  You look left: a small hill leads down into an empty lot and out to the lake&mdash;there's no escape that way.  To your right, across the street is an empty field with a short wall at the other end.  And there's a small strip mall just beyond that.  <thought>They might give up if I run to a crowd.</thought>
</p>

<div class="prompt">What do you do?</div>

<choice goto="surrender-to-mitchell">Surrender</choice>
<choice goto="run-away-from-mitchell">Run for the strip mall</choice>