<p>
  You walk up the sand dune slightly and look around to see if anyone is watching.  There's a person dressed in black up at the head of the line of greys that looks like they're in charge, but they don't see you, so you turn and quickly climb the dune.
</p>

<p>
  Just as you reach the crest, you hear someone shout behind you: "You!  Stop!"  The sound seems amplified in its echoes off the tall sandstone cliffs.  You run down the other side of the dune a few steps, and then half stumble, half jump down some more.  The sand on this side flows down, down, down to the base of the far wall, which is much lower than it looked from the other side.
</p>

<p>
  You skirt past the wall to your right and find yourself in a wide canyon, full of sand with nearly-vertical cliffs on either side.  You are at the top of a great mountain of sand that descends out in front of you.  As it descends, the walls come closer together.  You jump and slide and run down the sandy hill while trying to see where you should go.  It looks like the walls come together into a small slot canyon that turns sharply to the left.
</p>

<p>
  When you're about halfway down you hear echoes of a siren turning on.  You turn back and are horrified to see five people, dressed in black, chasing after you.  The foremost kneels down, sliding to a stop as he raises a gun.  You turn back around and try to dodge what's coming.
</p>

<p>
  <strong>BAM!</strong>
</p>

<p>
  A shot echoes loudly off the walls around you.  A patch of sand at your left flies into the air.  <thought>Aaahhhh... but he missed!</thought>  The walls are about twenty feet apart at this point&mdash;you're about five feet from the right wall.  You continue to jump, slide and swerve as fast as you can.
</p>

<p>
  <strong>BAM!</strong>
</p>

<p>
  Chunks of sandstone fly off the wall at your right and hit you in the face.  <thought>Almost there...  I'm almost there...</thought>
</p>

<p>
  <strong>BAM!</strong> <strong>BAM!</strong>
</p>

<p>
  <strong>BAM!</strong>
</p>

<p>
  Sand and rock start flying everywhere.  You're three steps from the slot canyon.
</p>

<p>
  <strong>BAM!</strong>
</p>

<p>
  Your right shoulder is violently thrown forward.  It feels like you've been hit with a sledgehammer.  You stumble and scrape your back against the sandstone wall, but manage to keep your feet underneath you as you make one final effort into the small opening to the left.
</p>

<p>
  <strong>BAM!</strong> <strong>BAM!</strong>
</p>

<p>
  The wall behind you seems to explode from the gunshots.  You find yourself running through a very narrow canyon&mdash;it's about five feet at its widest, and two feet wide in the narrowest parts.  You reach your left hand behind to feel your shoulder wound.  It hurts terribly.  But there's no blood.  "Were those rubber bullets?" you wonder.  
</p>

<p>
  You continue through the canyon at a breakneck pace.  It suddenly dawns on you that you might become totally lost in here, or you might accidentally circle around to where you started.  You keep running.  After you've been running for what seems like ten minutes, you follow another turn in the canyon to see that the walls end abruptly up ahead.  The sand gives was to hard red dirt and a sunlit landscape dotted with desert shrubs and grasses.
</p>

<p>
  You emerge into the sunny open wilderness, and begin to look for somewhere to hide or some way to get help.  You notice a faint green streak to your left.  When you turn your head to see it, it moves with your eye and remains at your left.  Suddenly, a similar green streak appears in the right side of your vision.  You turn your head all around, trying to focus on the green streaks.  More and more streaks keep appearing, making their way toward the center of your view.
</p>

<p>
  In your furious spinning, you end up turning toward the sun.  Immediately, the green completely covers your view.  You can still see light and dark, but nothing else.  Almost as suddenly, you feel your neck begin to tighten, then your shoulders&mdash;the tightening of your injured shoulder is unbearable.  You realize you can't hear anymore.  Then your arms, and torso tighten.  You can't move any of them.  You fall over stiffly into the dirt as your legs and feet tighten.  You still feel awake, but you have no senses except the dim green-ness filtering in through your eyes.  Everything is numb.
</p>

<p>
  You are lost.
</p>

<hr/>

<end-button></end-button>
