<p>
  "Umm... it's a piece of paper."  You begin pretending to read it, mostly to avoid Tara's gaze.  "Is there something special about it?"
</p>

<p>
  She doesn't answer.  "Have you not seen this paper before?"
</p>

<p>
  <em>Gulp.</em>  "No."
</p>

<p>
  She pauses.  The silence is unnerving.
</p>

<p>
  "Well," she says, "my mistake."  You glance up.  "I'm sorry to have bothered you," she says, then indicates that you can go.
</p>

<p>
  <thought>That was... odd.</thought>  It's a little suspicious, too, but you're glad not to be in her office anymore.  "How did she know I lost that page?" you wonder.  "She must know, right?  Why else would she bring <em>me</em> in?"
</p>

<hr />

<p>
  You try to work, but the meeting with Tara has spooked you.  By lunch time, you're feeling physically sick to your stomach.  <thought>I've got to get out of here.</thought>  You grab your coat and get in the elevator.  You smack the level 1 button then lean against the back wall with your eyes closed, trying to relax.
</p>

<p>
  A pleasant ding marks each level of your descent.  Finally, the doors open.  You open your eyes and start to leave, but realize you're on the second floor.  Two men are getting on.  You backpedal, trying, and failing, to make your premature exit look like a natural attempt to stretch.  <thought>Why is that always so embarrassing?</thought>
</p>

<p>
  One of the men stands in front of the control panel and presses a button.  And lingers there.  "Maybe he's a nervous button-pusher," you half think.  The elevator descends.  The other man is standing to your left.
</p>

<p>
  <em>Ding!</em>
</p>

<p>
  You get ready to go.  But the elevator doesn't stop.  You glance at the red LED number above the door: "1"
</p>

<p>
  "Uhh... umm," you move toward the controls.  "I thought I..."
</p>

<p>
  <thought>OWWWW!</thought>  Suddenly, both men shove you up against the wall and hold your arms.  One pierces your neck with something.  Something.... something....
</p>

<p>
  "Something wonderful..." you think as you fall unconscious.
</p>

<div class="prompt">What do you do?</div>

<choice goto="wake-up-in-sandstone-cell">Get some much-needed shut eye</choice>