<p>
  "And... done," you say as you hit the send button.  <em>Now</em> you can go.  The mundane data entry has helped your annoyance subside a bit.
</p>

<p>
  You stretch your hand and neck before standing up from your chair.  You glance at the clock in the corner of your computer monitor&mdash;it's 6:22pm.  Wow, did it really take that long?  Most people have already gone home.
</p>

<p>
  You lock your computer screen, switch off your lamp, then grab your coat and walk out of your cubical.  Since the main lights turn off at 6pm, the only light in the aisleway comes from the dim fluorescent lights near the elevators.  It's a little spooky.  As you walk toward the elevator, you glance around to see if anyone's still here.
</p>

<p>
  Halfway to the elevator, you see that Charles is still sitting in his cube, staring intently at his screen.  That guy's a machine.
</p>

<p>
  "Goodnight, Charles."
</p>

<p>
  Charles jumps and spins around, startled.  He smiles when he sees that it's you.  "You scared me!  I didn't know anyone was still here.  You done now?"
</p>

<p>
  "Yeah, heading home now.  You almost done?" you ask.
</p>

<p>
  "Yeah, just making a few changes.  We got some new data this afternoon," he says.
</p>

<p>
  "Alright," you say as you start walking away, "don't stay too late, Charles.  You'll make the rest of us look bad."  He chuckles and wishes you goodnight.
</p>

<p>
  You continue down the aisle, passing various empty cubicals and the small glass conference room.  As you go past the second to last cube, Mitchell's cube, you notice that his screen is on.  Oops.  It's against company policy to leave your screen unlocked.  Not wanting him to get in trouble (not that you really know him that well), you step inside to lock it for him.
</p>

<p>
  As you reach across the keyboard, your eyes are inadvertently drawn to the word "CONFIDENTIAL" written in blocky letters across the top of a document.  Right below it, you see the report's title: <i>Sandstone Tenants</i>.
</p>

<p>
  "Sandstone Tenants?  What's that?" you wonder.
</p>

<div class="prompt">What do you do?</div>

<choice goto="read-report">Stay, and read the confidential report.</choice>
<choice goto="go-to-elevator">Lock the screen and leave.</choice>
