<p>
  You approach the door, and just as you're about to enter your code, you think, "I'll bet they track after hour entry."  As you waffle between going in or not, you remember Charles' code!  How perfect!  It was just a few weeks ago that he got his new code.  He was joking about it in the break room:
</p>

<p>
  "They think I'm the devil or something?" he said, laughing.  "Four, six, six, six.  So that makes me four times the beast?"
</p>

<p>
  As you punch in the numbers, you manage to justify the deceit and suppress your thoughts about what might happen to Charles.  At least if he protests innocence, he'll be telling the truth.
</p>

<p>
  <i>Bzzrchunk.</i>  The door unlocks and you slide in.
</p>

<p>
  You call the elevator, but before it gets there you change you mind and decide to take the stairs.  Stairs seem less noisy and it will be easier to escape if you're seen.  You go back toward the stairwell, open the door and start climbing.
</p>

<p>
  By the third floor, you're starting to second guess your decision to come back to the office, let alone follow Mitchell inside.  You don't even know if he's going up to your floor or not.  "Well, if he's not there, I can just grab the fifteenth page and get out," you think.
</p>

<p>
  "And if he is there?"
</p>

<p>
  You'll figure it out.
</p>

<hr/>

<p>
  At the fifth floor landing, you peek through the small window in the door.  You can see half of the elevator door, dimly lit by the overhead lights.  The rest of the floor (at least what you can see) is dark.  You can see the top of Mitchell's cube and the glass conference room.  Channeling some Sherlock, you look at the ceiling above Mitchell's cubical.  No reflected light from a computer monitor.  And you can't see any out-of-place reflection on the conference room's wall.  <thought>He's probably somewhere else.</thought>  You're feeling pretty clever.
</p>

<p>
  You gently pull the heavy door open and head toward the printer alcove.  Suddenly, your legs are pulled out from under you as a hand shoves you face-first toward the ground.  Your right hand and left forearm hit, keeping your head from bashing into the carpet.  You try to roll over, but you are forcefully knocked back down.  Your attacker pulls your right arm behind you and presses it high up on your back, then kneels on you.  You can hardly breathe.  Your left arm is burning, and you're scared.
</p>

<p>
  "I'm... I'm... please don't... hurt me," you wheeze.
</p>

<p>
  "What?  YOU!?" you hear a man's voice say.  The grip on your arm relaxes slightly for a second.  But he quickly squeezes it again and digs his knee into your back.
</p>

<p>
  "Why are you here?" he growls.  He brings his mouth close to your ear.  "You're not one of them.  Why are you here?  You're not supposed to be here," he all but yells into your ear.  It sounds like Mitchell.  And he sounds confused.
</p>

<p>
  "M.. M... Mitchell?  Is that you?  Please... Mitchell.  Get off me.  I can't... breathe."
</p>

<p>
  He pulls your arm up even higher.  You let out an involuntary scream.  He knows what he's doing.  He growls into your ear for a third time, "Why are you here?"
</p>

<p>
  You're afraid and you're hurting.  Mitchell has something to do with the Sandstone Tenants; he's involved with people getting "lost."  But he always seemed so kind at work.
</p>

<div class="prompt">What do you do?</div>

<choice goto="bluff-mitchell">Bluff and try to escape.</choice>
<choice goto="tell-mitchell-the-truth">Tell Mitchell the truth.</choice>
