<p>
  You drive back to the office.  Your building shares a parking lot with another company's offices&mdash;some kind of construction business or something.  Maybe you're being paranoid, but you decide to park near their building so that you're at the side of yours.  You park, and start walking.
</p>

<p>
  It's cold enough that you can see your breath.  You walk quickly.
</p>

<p>
  As you turn the corner toward the front entryway, you are surprised to see someone approach the front door.  You duck behind the shrub at the side of the entryway.  Luckily, you haven't been seen.  You try to recognize them, but can't see their face.
</p>

<p>
  After the mysterious person punches their code into the door lock, he briefly looks over his shoulder and you see his face.  You gasp!
</p>

<p>
  It's Mitchell.  <i>What's he doing here?</i>
</p>

<p>
  He moves inside quickly and disappears into the darkness.  The door shuts and you hear the electronic lock engage.
</p>

<div class="prompt">
  What do you do?
</div>

<choice goto="follow-mitchell-inside">Follow Mitchell inside.</choice>
<choice goto="wait-for-mitchell-outside">Wait for Mitchell to come back out.</choice>
