<p>
  "I'll help," you say.  "What do I do?"
</p>

<p>
  "Good," Tara says.  "For now, just watch and listen.  Also, Charles has a... similar assignment.  I'll let him know you're on board."
</p>

<hr />

<p>
  <thought>I get to uncover a crime ring!  Well, if it is a crime ring... maybe there's just Mitchell.  I wonder if he's dangerous...</thought>
</p>

<p>
  As you walk back to your desk, you consider different ways to approach your new assignment.
</p>

<div class="prompt">What do you do?</div>

<choice goto="follow-mitchell-home">Follow Mitchell home at lunch</choice>
<choice goto="help-tara-by-waiting">Wait</choice>
<choice goto="shock-and-awe-t-shirts">Use a little shock and awe</choice>