<p>
  You jump back into the nook and kind of smash the fake Ficus tree that lives there.  You balance yourself awkwardly in and over the plant, trying to hide as much of yourself as you can.  Your abs are getting a good workout.
</p>

<p>
  You hear footsteps up to the printer, paper being removed, a pause, and then quiet footsteps moving away and toward the elevator.  He's gone.  Probably.  Oh, there's the ding of the elevator.  And then the faint sound of the door closing.  You wait about a minute longer, then hurl your upper body out from over the tree.
</p>

<p>
  You take the stairs down to the ground floor and carefully scan the lobby through the small door window before entering.  No Charles.  You put on your coat, go out to your car and head home.
</p>

<hr/>

<ng-include src="'templates/story/snippets/read-report-at-home.html'"></ng-include>

<p>
  The report concludes with the same recommendation found at the beginning, that a retrial is in order "if adequate replacements can be acquired."
</p>

<p>
  After fixing yourself some dinner, you eat and contemplate what you should do.  Perhaps tomorrow you could do more research, or maybe even confide in someone&mdash;see if they know anything about <i>Sandstone Tenants</i>.  Should you call the police?  Or maybe just try to forget about it.  But you're not sure you want to be working with people doing bad things.
</p>

<choice goto="wake-up-at-home">Go to bed and figure it out tomorrow.</choice>
<choice goto="call-police">Call the police.</choice>