<key name="you-know-tara-is-involved"></key>

<p>
  "It's probably nothing," you reassure yourself.  "She just wants to meet.  That's all."  You're not reassured.
</p>

<hr/>

<p>
  Tara has one of those offices with big windows&mdash;<i>tres chic</i> and all that.  You step into the doorway.  She's facing out the window.  You attempt to announce your presence by politely clearing your throat, but it's so dry that nothing comes out.  But it apparently doesn't matter.
</p>

<p>
  "Please close the door," she says, still gazing out the window.
</p>

<p>
  You close the door.
</p>

<p>
  "Have a seat."
</p>

<p>
  You sit.
</p>

<p>
  "Do you fear me?"
</p>

<p>
  <thought>What a way to begin a conversation.</thought>  "Umm... pardon?" you manage to get out.
</p>

<p>
  She finally turns toward you, her sickening smile plastered to her face.  "Do you <em>fear</em> me?" she repeats.
</p>

<p>
  You're starting to in entirely new ways.  "I... uh... no," you lie.
</p>

<p>
  "Hah," she chuckles, smiling wider.  She moves to her desk, picks up a piece of paper and drops it in your hands.  <thought>It's the missing page of the report!</thought>  Your stomach drops.
</p>

<p>
  "What is this?" she asks.  You're trembling.  It's suddenly incredibly hot in the room.  But your feet are cold.
</p>

<div class="prompt">What do you do?</div>

<choice goto="tell-tara-the-truth">Tell her the truth</choice>
<choice goto="feign-ignorance-to-tara">Feign ignorance</choice>