<p>
  Quickly, you step back to the computer and print the report.  As the progress bar inches across the screen, you notice that you're sweating.  <i>Come on, come on</i> you plead, worried that Charles could walk by at any second.  
</p>

<p>
  Finally!  It finished sending all fifteen pages to the printer.  You lock the screen, grab your coat and head toward the printer, which is by the elevators.  As you walk, you cast a glance over your shoulder.  Good.  Charles' light is still on in his cube.
</p>

<p>
  The printer is chugging along when you get there.  You grab the papers that are already printed and count them.  <i>Twelve pages, so just three more.</i>
</p>

<p>
  <i>Thirteen.</i>  <i>Fourteen.</i>  You nervously grab the papers as they come up.  You glance back toward Charles cube.  You're still sweating.
</p>

<p>
  <i>Fifteen!</i>  You grab the last page and turn to go.
</p>

<p>
  <i>Sixteen.</i>  <i>Wha..?</i>
</p>

<p>
  <i>Seventeen.</i>
</p>

<p>
  The printer is still printing sheets.  You step back toward the printer to pick one up when, out of the corner of your eye, you see Charles' light go out. <i>Oh, these are Charles' pages. And <strong>he's coming to get them!</strong></i>
</p>

<p>
  You've got to do something, fast!  There's a little nook just behind you that might be able to hide in.  Or you could try to reach the elevator before Charles sees you.
</p>

<div class="prompt">What do you do?</div>

<choice goto="hide-behind-copier">Hide behind the copier.</choice>
<choice goto="run-to-elevator-with-printout">Run to the elevator.</choice>
