<p>
  You peek out of the cubical and see that Charles' light is still on.  You probably have a few minutes before he's done.  You go back to the computer, and start skimming the document:
</p>

<blockquote class="report">
  <h2>Summary</h2>
  <p>
    Due to early termination, the effectiveness of KR49 cannot be conclusively determined.  The committee recommends a retrial with remaining tenants plus replacements if they can be acquired.  Project teardown has commenced and is expected to be complete within one week.  Tenant-specific reactions, including lost tenants, are detailed herein.
  </p>

  <h2>Prepared by</h2>
  <p>
    TCr-5009, CHu-5105, YMa-5011
  </p>

  <h2>Controls</h2>
  <p>
    Each tenant's residence...
  </p>
</blockquote>

<p>
  <i>ACHOO!</i>
</p>

<p>
  You fall over in fright and scramble to get up.  Your heart is beating feverishly.  Coming to your senses, you realize it was just Charles sneezing in his cubicle.  But you also realize that you shouldn't be here reading this report.
</p>

<p>
  "What is this?" you wonder.  "What's K49 and all this Sandstone stuff?  And what are these <i>lost tenants</i>?  This sounds really bad.  What is Mitchell involved in?"
</p>

<div class="prompt">What do you do?</div>

<choice goto="leave-after-reading">Leave, quickly.</choice>
<choice goto="continue-reading">Continue reading the report.</choice>
<choice goto="print-report">Print the report and leave.</choice>
