<key name="charles-knows"></key>

<p>
  You bolt toward the elevator and smack the call button, hoping that Charles didn't see you.  Everything about the situation would be suspicious to him.  He thinks you left several minutes ago, and why are you running?
</p>

<p>
  Luckily, the elevator door isn't visible from the copier.
</p>

<p>
  <i>DING!</i>  The elevator car arrives and the doors begin to open.
</p>

<p>
  <i>Why is that ding so loud!?</i>  You cringe, hoping Charles hasn't heard it.  You rush inside, press the button for floor 1, and repeatedly hit the <i>Close door</i> button (even though everyone says it doesn't do anything).  The doors start to close.  You're safe.  You made it undetected.
</p>

<p>
  Suddenly, an arm lunges into the opening!  You nearly shriek.  Your pulse pounds through every part of your body.
</p>

<p>
  The doors open, revealing Charles standing there with one arm outstretched into the elevator, looking at you with a puzzled expression.  He has his coat on and a briefcase in his other arm.
</p>

<p>
  "I thought you left fifteen minutes ago," he says&mdash;asking a question without asking a question.
</p>

<p>
  <i>What do you say?</i>
</p>

<p>
  "I, uh..." you stammer.  "I had to use the restroom.  Couldn't hold it."
</p>

<p>
  "Oh," he says, obviously a little embarrassed to have brought out that confession.  "Well, good thing they have bathrooms here, eh?"  <i>It worked!</i>
</p>

<p>
  The ride down to the ground floor is uneventful.  Charles is very easy-going and talkative.  Your pulse returns to normal and you mostly forget about your earlier terror.  But you still keep the printout folded and out of sight (as much as possible without seeming suspicious).
</p>

<p>
  You exit the building together then part ways.  It's a cold evening and you're glad for your coat.  You get in your car, throw the report on the passenger seat and head home just as the sun starts setting.
</p>

<hr/>

<ng-include src="'/templates/story/snippets/read-report-at-home.html'"></ng-include>

<p>
  You finally get to the last page, which ends with an unfinished sentence:
</p>

<blockquote class="report">
  <p>
    Tenant #17 expressed frustration at being unable to
  </p>
</blockquote>

<p>
  "That's odd," you think, turning the page over.  Nope, there's nothing else.  You go back through the stack, seeing if you mixed some of the pages up.  And then you start to panic as a terrible thought grips you.  You count the pages.
</p>

<p>
  <i>Fourteen</i>.
</p>

<p>
  "I should have just locked the screen and left it alone!" you whimper.  You stand up and retrace your steps after coming home.  No, the paper's not in here.  You carefully hide the fourteen pages under some hand towels in a kitchen drawer then go out to your car.
<p>
  As you walk toward your car you see your neighbors, Jed and Keira, start to drive away.  You wave, but they don't see you.  And you really didn't try that hard to get their attention.
</p>

<p>
  You open the passenger door and frantically search your car but find nothing.
</p>

<div class="prompt">What do you do?</div>

<choice goto="wake-up-at-home">Try to sleep and hope for the best tomorrow.</choice>
<choice goto="call-police">Call the police.</choice>
<choice goto="go-back-to-office">Go back to the office to look for the missing page.</choice>


