<p>
  You turn sharply to the right and run across the street.  You hear grumbling from the two people behind you: "Gah!  Come on!"  You see Mitchell out of the corner of your eye running through the street toward you.
</p>

<p>
  The empty lot is full of knee-high weeds, a few trees and lots of holes.  You fly through the field, avoiding the worst of the holes.  You're almost to the short, cinder block wall.
</p>

<p>
  "If I can just get over that, I'll be near people," you think.  You push yourself for one last burst of speed as you leap up onto the wall.  Only a sidewalk and street separate you from the strip mall where you see at least some signs of life.  You get your knees up on the wall, but you're not fast enough.  Someone grabs your left foot and starts pulling you back.
</p>

<p>
  You kick madly with your right foot.  And connect!  The assailant lets go, yelling in pain, and you roll over the wall, smashing ungracefully onto the sidewalk below.  <thought>Ouch!</thought>
</p>

<p>
  You scramble to your feet and leap into the street.  You can see a group of people loitering in front of one of the stores up ahead.  <thought>Almost there!</thought>  Almost as soon as you step into the street, you hear one thud, two thuds behind you.  They're over the wall and still in hot pursuit.
</p>

<p>
  Your right side is suddenly lit up by headlights.  A car is racing around the bend in the road.  You jump out of the way.  A panicked voice rips through the air, "Ru! No!"  A car horn joins the cry followed by screeching tires and a dull thud.  You turn.
</p>

<p>
  "Ru!" the same voice shrieks.  It's Mitchell.  He's running toward something lying in the road in front of the car.  He kneels down and rolls it over.  It's a woman.  The driver of the car jumps out.  "No... no... no..." he keeps repeating.  He seems unable to walk where he wants to walk.  He's in shock.
</p>

<p>
  Mitchell suddenly turns toward you, fire in his eyes.  "You!" he growls.  You turn to run.  A crowd of people are running toward you, but they're still far enough that you might get away without them stopping you.  Maybe.
</p>

<p>
  <strong>BANG!</strong>
</p>

<p>
  Your left leg gives out.  Pain erupts from your thigh.  You instinctively grasp your leg as you fall onto the pavement.  Through the pain, you're aware of Mitchell standing in the headlights clutching a smoking gun; the shocked crowd retreating.  You pass in and out of consciousness.  Sirens, police, ambulance, fluorescent hospital lights.
</p>

<hr/>

<p>
  Three days after being admitted, you're awakened by a knock on your hospital room door.  Mitchell enters.  Your heart begins to race.  You reach for the button to call the nurse.
</p>

<p>
  "Go ahead," he growls.  "But they know I'm here."  You don't press the button.  Frowning, he continues, "I was wrong about you.  You've been absolved of all wrong-doing."  It sort of sounds like an apology.
</p>

<p>
  Then he closes the door, comes close and whispers, "What on earth were you doing at work that night?" he asks.  "And why were you following me?  We found the one report at your home, but you're not involved, right?  We haven't found <em>anything</em> about you.  Why did you run!?"
</p>

<p>
  <thought>Report?  The Sandstone report.</thought>  "No, I'm not involved... I thought..." you begin.
</p>

<p>
  "You thought what?" he asks, studying your face.  "You thought <em>I</em> was involved, didn't you?"  You nod.  He snorts and shakes his head.
</p>

<p>
  "Well, sort of," he continues. "But that's the end of it as far as you're concerned."  And then, more to himself: "It makes sense, though."
</p>

<p>
  He turns to go.
</p>

<p>
  "Mitchell?"  He turns back.  "Ru?  That woman?  Is she okay?"
</p>

<p>
  "Ruva?  Yeah," he says sadly.  "She's alive.  She'll have some lasting... she'll have problems... but she's okay."
</p>

<p>
  "I'm sorry," you say.
</p>

<p>
  He walks out.
</p>

<end-button></end-button>

