<p>
  You decide to trust your speed&mdash;and it seems like an excellent choice.  Your muscles ache tremendously, but it doesn't seem to bother you as much as you would have guessed.  By the time the lab coats begin to realize that they should try to stop you, you're more than halfway to the windowed wall.  But instead of heading you off, a few start running after you.  <thought>Suckers!</thought>
</p>

<p>
  You round the corner and book it toward the door.  The closest technician is far behind you.  You're two steps from the door so you reach your hand out, aiming toward the knob, when out of nowhere a man in a lab coat jumps out from behind a table.  He checks you against the door.  <thought>Owww.</thought>  Your head smacks against it and you slump to the ground.
</p>

<p>
  Several more lab coats join him in holding you down.  You're very dizzy.  You notice the guard from earlier walk up just as a lab coat holding a syringe gets a little too close.  <thought>Ouch!</thought>  You feel a prick in your shoulder and the room gets very blurry until it fades to darkness.
</p>

<p>
  "Well," you muse, "getting knocked out <em>used</em> to be unusual."
</p>

<hr/>

<p>
  You're suddenly aware of a frustrating coldness, like you feel on a cold night with a blanket that's too small.  You open your eyes.  You're lying in cold sand.  Ahead of you is a flat, sandy canyon made by high sandstone cliffs on either side.  You look up.  You're at the mouth of a large cave.  Shadows tell you that it must be around noon.
</p>

<if any="mitchell-plan">
  <true>
    <p>
      "How did I get here?" you wonder.  "Did Mitchell rescue me?"
    </p>
  </true>
</if>

<p>
  You sit up.
</p>

<p>
  And then you sense a presence behind you.  Not eager for a T.K.O. you spin around quickly to defend yourself.
  <if any="you-know-tara-is-involved">
    <true>
      <thought>So she did know it was me.</thought>
    </true>
    <else>
      You stop short and fall back into the sand.
    </else>
  </if>
</p>


<p>
  <if any="you-know-tara-is-involved">
    <true>
      "Tara," you mutter.  She's standing an arm's length from you.
    </true>
    <else>
      "Ta... <em>Tara!?</em>" you gasp.  Standing an arm's length from you is Tara Cromfield, your boss, in the flesh.
    </else>
  </if>
  And then you notice, standing behind her in the cave... <thought>but it's not a cave&mdash;it's a tunnel.</thought>  Standing behind her in a line is an entourage of lab coats and a black-clothed guard.  In the middle of the line, you recognize the man who first tried to give you an injection.  He's holding a clipboard.  A woman at his left is holding a small camcorder.  The red light is on.
</p>

<p>
  <if any="you-know-tara-is-involved">
    <true>
      You look at Tara again.  She bestows her acid smile on you.  "You are free to go," she says.  "We're done with you."
    </true>
    <else>
      You look at Tara again.  She bestows her acid smile on you.  "Yes.  It's me.  You are free to go," she says.
    </else>
  </if>
</p>

<p>
  "Go?  Where?"
</p>

<p>
  <if any="you-know-tara-is-involved">
    <true>
      "You should not have lied to me," she says.  "Anyway, go.  Run away!"
    </true>
    <else>
      "Home.  Away.  Wherever you want," she says impatiently.  "You obviously don't want to be here and we've wasted enough time on you."
    </else>
  </if>
    She points down the canyon.  You turn and see a man walking toward you.  There's a military-style jeep parked behind him that you didn't notice before.  The man, wearing black armor, tosses some keys into the sand next to you, nods to the other guard and walks on through the tunnel.
</p>

<p>
  "I..." you stammer.  <thought>It doesn't make any sense.  Why kidnap me and let me go?  Did they expect me to be a willing lab rat?</thought>
</p>

<p>
  "Don't make me change my mind," Tara says through her fake smile.
</p>

<p>
  You slowly reach for the keys.  <thought>This has got to be a trap.  Why are they recording this?</thought>  You quietly stand up and brush off the cold sand stuck to your face.  You turn toward the jeep, and back to Tara and the crowd several times.
</p>

<p>
  You have a feeling that this is probably the last time you'll ever see Tara Cromfield.  You hesistate.  <thought>No.  She needs this.</thought>
</p>

<p>
  "Before I go," you start, "I need to say something."
</p>

<p>
  Tara rolls her eyes.  "Well, out with it," she says with an air of superiority.
</p>


<if any="mitchell-plan">
  <true>
    <p>
      You take a step toward her...
    </p>

    <p>
      <strong>BAM!</strong>  Tara cries out in pain as she falls forward into the sand, only half catching herself.
    </p>

    <p>
      You see the guard running toward you with his gun smoking.  <thought>What on earth?</thought>  The lab coats scream and run the other way.  You turn to run, too.
    </p>

    <p>
      "No, stop!" the guard yells.  You stop just before stepping into the sunlight.  <thought>Mitchell?</thought>  You turn; the guard pulls off his helmet, revealing a grinning Mitchell.
    </p>

    <p>
      "You killed Tara?" you start.
    </p>

    <p>
      "No.  Rubber bullets.  Apparently these guards aren't meant to kill," he says.  You look at Tara.  The back of her shirt has a small tear just under her scapula.  You see a massive red circle swelling up.  She's groaning and trying to stand back up.  Mitchell glances back as he reaches into his pocket.  He turns to you, holding a covered syringe.  Satisfied that Tara's down, he holsters his gun and uncovers the syringe&mdash;it's a very short needle.  "Anyway, you need this."  He lifts the needle toward you.
    </p>

    <p>
      You flinch instinctively, but only for a second, then present your arm to him.
    </p>

    <p>
      "Not fast enough," he says, then shoves the thing quickly into your neck.
    </p>

    <p>
      "Owww!" you yell.
    </p>

    <p>
      "K, we've got maybe..."  Mitchell's cut off by the sound of a siren whining through the tunnel.  "Come on, come on," he says, mostly to himself.  Then to you, "This supresses the virus for... well, for I don't know how long.  Long enough, probably."  After a few more seconds he decides it's been enough.  "Okay, let's go."
    </p>

    <p>
      He turns back to Tara, who's finally on her hands and knees, and says, "I quit."  He raises his gun and shoots her hip.  <strong>BAM!</strong>  She falls to the ground again, writhing and moaning.
    </p>

    <p>
      "That should keep her still," Mitchell says.  "Don't worry, she'll be okay&mdash;no permanent damage from these things.  Let's go."
    </p>

    <p>
      You run out of the tunnel, into the warm sunlight, and onward to the jeep.  The keys work!  You drive and Mitchell rides shotgun.  With the pedal to the floor, you finally make it out of the canyon into a desert.
    </p>

    <p>
      After a few miles out in the open desert, with Mitchell guessing the way, you see a helicopter in the distance.  It's Mitchell's team.  You're safe.  They bring you home.
    </p>

    <hr />

    <p>
      <em>Later...</em>
    </p>

    <p>
      Life's different now.  Until they can find a cure you have to take that medicine every day to suppress the virus.  But they're working on a cure.
    </p>

    <p>
      And, well, you lost your job. But you're not exactly heartbroken.  Eventually you win a portion of the assets from the break up of the company&mdash;enough that you don't need another job.  You spend your time reading, traveling, meeting interesting people and serving in the communities where you live.  Life's pretty good.
    </p>

    <p>
      If a little boring at times.
    </p>

  </true>


  <else>
    <p>
      "It's just for you," you say as you step up to her.  You open your mouth to whisper and then, with all your weight, as quickly as you can, you slap her hard across the face!  She lets out a yelp as she spins and falls to the sand.  <thought>Wooowwweee!  That felt good!</thought>  And you immediately turn to run toward the jeep.
    </p>

    <p>
      You expect the guard to shoot at you, so you do your best to dodge his shots.  But you hear no gun shots.  You step out from under the lip of the cave into the sun.  You suddenly see a fuzzy patch of green at your right.  You turn to see what it is, but it moves with your gaze.  Another green patch appears at the left.  You begin to feel a pressure in your head.  The green fuzz gathers toward the middle of your view.
    </p>

    <p>
      You turn around in terror and see Tara with a cherry red cheek, half sitting in the sand and looking right at you.  She's still smiling.  A wash of tenseness floods down from your head, paralyzing all your limbs.  You fall forward into the sand, unfeeling.  The green fuzz is now all you know.
    </p>

    <p>
      You are lost.
    </p>
  </else>
</if>

<end-button></end-button>
