<p>
  "Why should I just wait around?  I know the perfect way to expose these guys," you think.
</p>

<hr />

<p>
  "...alright, well how soon can you have them ready?" you ask the person on the other end of the phone line.  "Thursday?  Great!  I'll pick them up then."
</p>

<hr />

<p>
  You roll into work slightly late Thursday morning.  After you exit the elevator onto the fifth floor, you set the cardboard box down and pull out your keys to rip the tape.  <em>Brrrrrrrrrrppp!</em>  "Mmm... they even smell good," you say to yourself.
</p>

<p>
  <thought>First stop, Mitchell.</thought>
</p>

<p>
  You haven't noticed anything unusual over the past few days&mdash;except that Tara seems genuinely nicer.  Work has pretty much just gone on as usual.  "That will change today", you think, smiling at your genious.
</p>

<p>
  You round the corner, balancing the box in one hand and step up to Mitchell's cubical.  <thought>Rats!</thought>  He's not there.  <thought>I guess I'll come back to him.</thought>
</p>

<p>
  Ray's cube is next.  You peek in.  "Hey, Ray!  Work got you a t-shirt!"  You toss him a rolled up shirt.  "Cool!" he says, catching it.  You step across the aisle and throw one to Sandra.  "Thanks," she says as she starts to remove the rubber band.  You work your way down the aisle, chucking t-shirts into the cubicles.  Other people start to notice and stand up in their cubes to see what's happening.  Charles is on the phone.  He grins and mouths "thanks" after you land it in his lap, but keeps talking into the receiver.
</p>

<p>
  Ray, pops up from his cube and turns to you.  "Hey, what's it mean?  Sandstone ten ants?  Oh.  Is it tenants?  What is that?"  Sandra answers, "Are these just leftover defect shirts?  Pshh... figures."  She and Ray wave you off and sit back down.
</p>

<p>
  You continue down the aisle, and then see Mitchell turn the corner back to his cubical.  You wave and jog back to him.  He cocks his head, looking at you like you're a goof.
</p>

<p>
  "What's this?" he asks.  You toss him one.
</p>

<p>
  "Large?"
</p>

<p>
  "Yeah"  You watch as he unrolls it.
</p>

<p>
  "<em>Get Lost</em>" he reads, puzzled.
</p>

<p>
  "Yeah, look at the back," you say.  He turns it around, and all the color drains from his face.
</p>

<p>
  "Where... uh... nice shirt." he stammers.  "Where did you get the... idea?"
</p>

<p>
  "Game's up, Mitchell.  We're on to you," you say triumphantly.
</p>

<p>
  "What?  How do <em>you</em> know?  <em>You're</em> not..."  He suddenly shoves you sending you and the box tumbling to the ground.  Mitchell runs toward the stairwell door and ducks through.  People stand up in their cubes to gawk at the commotion.  Now's the moment his accomplices will reveal themselves.  It's the perfect plan.
</p>

<p>
  Tara speaks from the other end of the aisle.  "What did you say to him?" she demands.  All the gawking heads retreat into their cubes.  She notices the box and points: "What is <em>that</em>?"
</p>

<p>
  Charles emerges abruptly from his cubical, clutching the t-shirt with white knuckles.  He glares at you, then throws the shirt to Tara.  She opens it.  You can clearly read "Sandstone Tenants" written in block letters on the back.  She flips it around.  You briefly see "Get Lost" on the front before she drops the shirt.
</p>

<p>
  Tara's fake smile disappears.  And it never returns.
</p>

<p>
  It occurs to you, in that moment, that you've never noticed how claw-like Tara's hands are.  <thought>Like bear claws... or maybe a hawk.</thought>  And boy, does her neck have a lot of tendons.  <em>Big</em> ones.
</p>

<hr />

<p>
  "There are advantages to being in the hospital this long," you think to yourself one day.  "I get to read a lot."
</p>

<p>
  Recovery has been slow, but measurable.  You had no idea Tara kept at gun at work, or that she was such a good shot.  And it turns out that Mitchell was a <em>good guy.</em>  Last you heard, Tara was in the slammer.  You still don't know what the <i>Sandstone Tenants</i> are.  But you're not sure you care.
</p>

<p>
  The company has closed down, so you'll have to find a new job when you get out.  It's late afternoon and you're tired.  As you drift off to sleep, you wonder how you'll explain to your next employer "why you left your last job."
</p>

<end-button></end-button>

