<p>
  You decide to sneak in after Mitchell leaves.  Not long after deciding, you see a shadow approach the front door from inside.  You instinctively crouch a little more behind the shrub.
</p>

<p>
  He emerges carefully, looking all around.  You catch another glimpse of his face.  He looks determined, but not nervous as you imagine you would be.  He's not carrying anything in his hands.  He scans the parking lot then moves out quickly.  He heads all the way through the lot, keeping to the unlit bushy area.  He turns left at the street and he's gone.  The coast is clear.
</p>

<p>
  You step up to the door and reach out to punch in your entry code.  But you hesitate, thinking, "I'll bet they track after hour entry."  As you contemplate what to do, you remember Charles' code!  How perfect!  It was just a few weeks ago that he got his new code.  He was joking about it in the break room:
</p>

<p>
  "They think I'm the devil or something?" he said, laughing.  "Four, six, six, six.  So that makes me four times the beast?"
</p>

<p>
  As you punch in the numbers, you manage to justify the deceit and suppress your thoughts about what might happen to Charles.  At least if he protests innocence, he'll be telling the truth.
</p>

<p>
  <i>Bzzrchunk.</i>  The door unlocks and you slide in.
</p>

<hr/>

<p>
  You've had time to think through what you'll do once inside.  You walk past the elevator and quickly ascend the stairs.  You're soon at the fifth floor, peeking in through the small door window.  It's pretty dark, except for the light by the elevator.
</p>

<p>
  Judging it safe, you pull open the door and head toward the elevator.  You search for the missing page between the elevator and the printer alcove twice but find nothing.  "There's not many places it could be.  Mitchell must have picked it up," you say to yourself.  "I should have stayed home."  
</p>

<p>
  You're about to leave but stop.  Maybe Mitchell left his computer unlocked again.  Curious, you step down the aisle two cubicles and check.  Nope, it's locked.  And his desk is clean as a whistle.  You're not getting any more information tonight.
</p>

<p>
  You walk back to the stairwell and start your descent, thinking about what to do next:
</p>

<p>
  "Mitchell doesn't know I printed it, even though he has the sheet.  I used Charles' code to get in, so they'll maybe question him.  I hope he doesn't get in too much trouble if they do.  I suppose I'll just come back to work tomorrow and take it from there."
</p>

<p>
  You reach the ground floor and walk into the main lobby.  You're almost to the door when a flash from behind you suddenly paints your silhouette against the corner of the lobby with an accompanying <i>POP!</i>  Something drives into your back, between your shoulder blades, knocking you forward.  For a split second you think you can catch yourself when your whole torso tightens in a pain emanating from your upper back.  You fall face first into the tile floor, groaning in pain.  Your vision is swimming.  You're going to faint.  You see some black boots walk toward you. 
</p>

<p>
  You think, "Hey, nice boots."
</p>

<p>
  Then you're gone.
</p>

<div class="prompt">
  What do you do?
</div>

<choice goto="wake-up-in-sandstone-cell">Get some well deserved rest on the tile.</choice>