<p>
  Finally, it's 5 o'clock.  Time to go.
</p>

<p>
  You start cleaning up the loose papers on your desk and are about to stand up when you hear someone clear their throat behind you.
</p>

<p>
  <thought>Oh man.  Not now.  Not again.</thought>
</p>

<p>
  You swing around in your chair to see your boss, Tara Cromfield, standing in your cubicle's opening, smiling with her hands crossed behind her.  Ugh, that smile.  What is it about her smile that makes you feel so queasy?  There's something so... unatural about it.
</p>

<p>
  "Hi," you say, forcing the sides of your mouth up.  You wonder if she feels the same way about your smile.  It definitely feels unatural to make it in her presence.
</p>

<p>
  This job is pretty good.  It pays well and most of your coworkers are pretty relaxed; at least, the underlings are relaxed.  Every now and then, though, you get anxious and wonder if there's something better out there.  Now is one of those times.  Even before she speaks, you know what's coming.
</p>

<p>
  "Hi," she says.  She brings her right hand out from behind her back.  It's holding a manilla envelope.  She hands the envelope to you and continues:
</p>

<p>
  "Several employees have called in sick over the last few days.  And so we have a few more batches that need to be summarized.  It's urgent.  I know I can count on you."
</p>

<p>
  <thought>It's 5 o'clock, woman!  I was just about to leave!  This is like the hundredth time you've done this!  Have you no heart?</thought>
</p>

<div class="prompt">What do you do?</div>

<choice goto="finish-report">Stay and finish the report.</choice>
<choice goto="quit">Quit your job.</choice>
<choice goto="pretend-to-finish">Sneak out as soon as she's gone.</choice>
