<p>
  "I'd never make it," you think, raising your hands into the air as you come to an abrupt stop.
</p>

<p>
  The two people behind you quickly reach you.  One yanks your hands down and turns you around toward the car.  You catch a glimpse of the other: she's a young woman with dark skin and brilliant eyes.
</p>

<p>
  "Good choice," she says.  There's a hint of an accent.  <thought>Is it Jamaican?</thought>  She opens the rear passenger door so you can be stuffed into the car.  Mitchell jogs up behind you.  "Wait," he says, "I want to see who it is."
</p>

<p>
  The man holding you, you've caught a few glimpses of him, turns you toward Mitchell.  Mitchell's jaw drops when he sees your face.  "You?" he asks in disbelief.  "You?" he repeats.
</p>

<p>
  "What are you doing here?" he asks.
</p>

<p>
  "Not here, Mitchell" says the woman, before you can speak.  To your ear it sounded more like "note heeya, Meechell."  <thought>It's not quite Jamaican.</thought>
</p>

<p>
  "Right," he says, "Let's go."
</p>

<p>
  You protest: "Hey, I'm not going anywhere with you.  What are you doing here, Mitchell?"  You up the ante: "I know what you guys are doing with Sandstone Tenants... and... I've reported it.  The police are going to be here any minute."
</p>

<p>
  Mitchell and the woman exchange glances.  They pause.  Then the woman suddenly bursts out laughing.  "Oh, they are?" she asks, then laughs some more.  Mitchell and the man holding you are chuckling, too.
</p>

<p>
  "You're going to be just fine," Mitchell says.  "Get in the car.  What choice do you have, really?"  You hesitantly allow Muscle Man to put you in the car and sit next to you, Mitchell takes the driver's seat and pulls the car out onto the road.
</p>

<hr/>

<p>
  After turning onto the main road, Mitchell tosses something back to you and says, "I've got a hunch it's safe to tell you.  We're FBI."  With the off and on light from street lights, you see that you're holding a badge.  It looks real.  He continues, "...and we're involved with Sandstone only so we can stop it.  Now, how do you&mdash;you didn't really call the police, did you?" he interrupts himself.
</p>

<p>
  "No," you admit.
</p>

<p>
  "Well, that's good.  So how do you know about Sandstone?"
</p>

<p>
  "You left your screen unlocked, and I... I shouldn't have read it."  The woman gasps, turns to you then faces Mitchell.  You see his grip on the steering wheel shift uncomfortably.
</p>

<p>
  "Meetchell," and she clicks her teeth scornfully while shaking her head.  "What is it you are always saying?  'Be careful,' you say.  'Be vigilant,' you say..."  She clicks her teeth some more.  The man sitting next to you is shaking noticeably.  He's trying to stifle a laugh, but his smile betrays his efforts.  "...Dot all your i's, is it?  And cross all your t's, eh?  Eh, <i>shamwari</i>."  She briefly turns back to your seatmate with a knowing smile and smiling eyes before erasing the smile and continuing her beating.  Mitchell avoids her gaze; he seems to drive just fine using only the driver-side side-view mirror and window to check for cars.
</p>

<p>
  "Come on!" Mitchell finally interrupts, though he's sheepish.  "Everyone makes mistakes!  And it's not like we were exposed, really."  He glances back at you, "No one else saw it, right?"
</p>

<p>
  You explain that you printed the report (which makes everyone in the car cringe a little&mdash;except the woman; she just clicks her teeth), lost a page and went back to work to look for it.  "So... I don't know if someone is going to find it tomorrow.  Or maybe Charles saw it and threw it away?  I don't think he'd..."
</p>

<p>
  Mitchell, who was changing lanes, violently swerves the car into the lane, overshoots then overcorrects.  "What!?" everyone else shouts at the same time, heads whipping from side to side.  "Charles was there?" Mitchell asks, finally getting the car centered.
</p>

<p>
  You hesitantly get out a "Yeah?"
</p>

<p>
  "Oh," says the woman, her jovial mood deflated.  "That is bad."
</p>

<p>
  The car falls silent for many seconds.  Mitchell is slowly shaking his head.
</p>

<p>
  "Or maybe it is not all bad," she says (the way she says "bad" sounds like "bed").
</p>

<p>
  More silence.
</p>

<p>
  "No, it is bad," she concludes.
</p>
