<p>
  You're a terrible liar anyway.
</p>

<p>
  "I found it on Mitchell's computer," you begin.  She raises her eyebrows at that.
</p>

<p>
  "Mitchell Hayes?  Interesting."
</p>

<p>
  "Yeah.  His computer was unlocked and when I went to lock it I saw it and kept reading.  It sounds dangerous."
</p>

<p>
  "Why did you print it?" she asks.
</p>

<p>
  "I, err...  Charles was still here, and I didn't... I knew I shouldn't be reading it.  But it... I don't know.  Something bad is happening, and it just seemed like I should have some evidence."
</p>

<p>
  "So you have the rest of the report still?"
</p>

<p>
  You nod.  "It's at home."
</p>

<p>
  She stares at you in silence for many seconds before continuing:
</p>

<p>
  "It's true: something bad <em>is</em> happening.  We've suspected it for a time."  She pauses again.  "Would you be willing to help us... find the evil actors in our company?  ...the other people helping Mitchell?"
</p>

<p>
  "Umm... isn't that something the police should do?"
</p>

<p>
  "The police," she says, "the police want us to find everyone involved before they move in.  There would, of course, be ample remuneration for you, should you choose to help us."
</p>

<div class="prompt">What do you do?</div>

<choice goto="help-tara">Help uncover Mitchell's gang</choice>
<choice goto="no-thanks-tara">"I'd rather not."</choice>

