<key name="mitchell-caught"></key>
<key name="mitchell-trust"></key>
<key name="saw-mitchell-caught"></key>

<p>
  You decide to trust Mitchell and tell him the truth.
</p>

<p>
  "It was an accident," you begin.  "You left your computer unlocked.  I thought I'd help.  I didn't mean to.  I saw the Sandstone report.  I don't know what it is.  I was scared.  I printed it and took it home.  I lost a page and came back to look for it.  I didn't want someone else to find it.  I won't tell anyone, Mitchell.  I promise."
</p>

<p>
  As you talk, you feel Mitchell relax his grip.
</p>

<p>
  "I'm sorry.  I wish I hadn't looked.  I wish I hadn't printed it.  I'm sorry.  I won't tell anyone.  I won't say a word."
</p>

<p>
  He stands up, letting go of your arm.  "Get up," he says, almost like an apology.  You stand and face him.   He's not looking at you.  He's thinking.  Mitchell is a lot stronger than he looks.  You rub your arm and hand.  His attitude now makes you think he's not dangerous.  You're not going to try and run.  But you're still not entirely comfortable.
</p>

<p>
  "I believe you," he says, sparing a quick glance.  "And you haven't told anyone else about the report?"
</p>

<p>
  "No one."
</p>

<p>
  "Well, that's good," he says, more to himself than you.  "I guess it's better you found it than one of them.  I'm an idiot for leaving it unlocked."  He's still not looking at you; still thinking things through.  He doesn't seem like a dangerous person.  
</p>

<p>
  After a long pause, he looks at you and says, "Alright.  You said you left a page here?"
</p>

<p>
  "I think it's here.  It's not at home or in my car."
</p>

<p>
  "Well, let's look.  And then we'll figure out what to do with you."  You realize that "figure out what to do with you" could sound very bad in certain situations, but you have a feeling this isn't one of them.
</p>

<p>
  You start looking for the page at the elevator.
</p>

<p>
  "This company isn't what you think it is," Mitchell says.  "Any chance it fell through?" he asks, pointing at the base of the closed elevator door.
</p>

<p>
  "Maybe, but I think I would have noticed it.  What is this company?  What is Sandstone Tenants?" you ask.
</p>

<p>
  "A very bad thing.  We're trying to stop it," he replies, shaking his head.  Both of you continue around toward the printer.
</p>

<p>
  "Who's <i>we</i>?" you ask.
</p>

<p>
  Mitchell stops, draws close, then whispers, "Have you heard of S.H.I.E.L.D.?"
</p>

<p>
  "No way!  That's real?  You're joking."
</p>

<p>
  Mitchell breaks into a smile.  "Yeah, I'm joking.  <i>We</i> is the FBI," his smile disappears, "and this company is doing some very illegal, very bad stuff."
</p>

<p>
  "Like what?" you ask.
</p>

<p>
  "Not here," he says, "but this is the kind of place you don't want to be caught sneaking around at night.  In fact," he says as he stops and looks at you, "you might have caused some trouble for yourself just by entering the building."
</p>

<p>
  You smile smugly.  "Give me some credit.  I at least thought of that.  I used Charles' code."  You feel a tinge of guilt for Charles' sake.
</p>

<p>
  All the color drains from Mitchell's face.  "You used <i>Charles'</i> code?!" he exclaims.  "We need to leave, now!"  He sounds terrified and runs toward the stairwell.  You run after him, and then... it's all over in a matter of seconds.
</p>

<p>
  The stairwell door flies open. Two men wearing helmets and body armor enter the floor with raised guns.  Mitchell tries to duck and turn around.  <i>POP!</i>  A flash of light from one of the guns sends Mitchell groaning to the ground.  <i>Noooo!  This can't be happening!</i>  The other gun turns toward you faster than you can move.  <i>POP!</i> Another flash of light.  And pain.
</p>

<p>
  You fall to the ground next to Mitchell.  Despite yourself, you're amused by your final thought: "Hey, that was a taser.  I've never been tasered before.  Ouch."
</p>

<p>
  <i>Darkness.</i>
</p>

<div class="prompt">
  What do you do?
</div>

<choice goto="wake-up-in-sandstone-cell">Lie about on floors and in the trunks of cars.</choice>







