<p>
  The lab coats begin to realize that they should try to stop you and suddenly jump into action running toward you.  As you continue toward the windows, you snatch up an empty beaker and hurl it at a nearby man.  He puts up his hands to guard his face, but the glass smashes on the table next to him.  All the others seem stunned at what you've done.  You grab another beaker&mdash;this one contains some clear liquid&mdash;and chuck it at a woman.  She ducks to the ground screaming.  Everyone start yelling at you to stop.
</p>

<p>
  You're at the windows and nearly to the door.  You grab everything you can from the tables near the wall and throw them across the room.  The different vials and bottles elicit different degrees of terror from the technicians; and there's a wide variety to choose from.  Blue liquids, white powders, yellow powders, one has a faintly purple gas.  Most everyone cowers and dodges, while a few are still hesitantly trying to get close.  You realize how fun it would be to smash all these things, but under different circumstances.
</p>

<p>
  You're finally at the outer door when you see the armored guard burst into the room.  He raises his gun, but several nearby lab coats scream, "Don't shoot!  You'll kill us!  Stop!"  He lowers his gun and runs toward you.  Taking courage, two other technicians start to run toward you too.  <thought>I can't make it through the door before they get here.</thought>
</p>

<p>
  Quickly, you grab a thing metal-capped glass cylinder from an aluminum box sitting on the end of the table nearest the door.  You hear a collective gasp.  The two brave lab coats stop.  The guard, reacting to the others, also stops.  Everyone slowly backs away.
</p>

<p>
  "No!" one woman shouts.  "Put that down.  Not that one."
</p>

<p>
  The two brave technicians try to talk calmly to you.  "Hey.  Let's not be crazy... okay?  Just put it down.  No one will get hurt."  Everyone is on edge.
</p>

<p>
  <thought>Here's my chance.</thought>
</p>

<p>
  You quickly raise the cylinder over your head as if to throw it and the room fills with blood-curdling shrieks.  You back toward the door, threatening everyone with the cylinder.  And then you notice, out of the corner of your eye, several guards outside the windows with their guns drawn.
</p>

<p>
  "Tell them to back down," you say, nodding toward the outside guards.
</p>

<p>
  The technicians begin furiously waving to the guards outside not to shoot.  There is some back and forth between the guards and the people in the lab.  Neither group can hear the other, but it doesn't stop everyone in the room from yelling:
</p>

<p>
  "Put your guns down!"
</p>

<p>
  "Fall back!"
</p>

<p>
  "Don't shoot!"
</p>

<p>
  Eventually, the lab coats succeed in communicating the gravity of their concerns.  The guards lower their weapons.
</p>

<p>
  You put one hand on the doorknob and turn it, making sure to keep the vial above your head.  You open the door and back through, now threatening both the people inside and the guards outside.
</p>

<if any="mitchell-plan">
  <true>
    <p>
      As you exit, you notice a fire extinguisher mounted on the wall just inside the door.  <thought>That might come in handy as a signal to Mitchell's team.</thought>  You yank if off the wall with your free hand.  No one stops you.
    </p>
  </true>
</if>

<p>
  You step down onto a cold, metal ramp.  This side of the building is entirely in the shadow of a curving sandstone wall&mdash;it's still chilly.  About a dozen guards stand in front of you, watching closely.  All eyes are on you.  It's tense.
</p>

<p>
  Then you notice one of the foremost guards nervously glance to your right.  He's shaking his head rapidly and glaring at something like a demon.
</p>

<p>
  <thought>Oh no.  There's someone behind...</thought>  In an instant, a guard jumps out from behind the door and grabs you around the neck.  The technicians watching from inside scream, "No!"  The vial fall from your hand and smashes open on the side of the metal ramp.  It makes a loud pop, and you feel a puff of air against your leg.
  <if any="mitchell-plan">
    <true>
      The fire extinguisher clangs loudly on the metal.
    </true>
  </if>
</p>

<p>
  Everyone turns and runs.  The guard holding your neck notices the broken vial.  "What was that?"  He lets go, panicking.  "What <em>was</em> that?"  It's apparent he didn't know that you were holding it.  He runs away, too.
</p>

<p>
  You're not sure what happened, but you're glad to be free.

  <if any="mitchell-plan">
    <true>
      You pick up the fire extinguisher again.  <thought>I need to find a place to stash this, then find Mitchell.</thought>
    </true>
  </if>

  You quickly determine that you can either go around the building back to the door you first came through, or else you can follow several people that went to the right, along the sandstone wall.  You head along the wall, until you see a wide opening.  <thought>A cave?</thought>  You step in and realize that it's a tunnel.  There's light coming from way off to the left.  Silhouettes of several people are running away, toward the light.

  <if any="mitchell-plan">
    <true>
      <thought>I've found the way out, Mitchell!</thought>
    </true>
    <else>
      <thought>I've found the way out!</thought>
    </else>
  </if>
</p>

<p>
  You run through the tunnel and into the beautiful, warm sunshine.  You're standing in a flat, sandy valley among tall sandstone cliffs.  The sun is directly ahead of you, pouring light into the canyon.  Most of the people that ran away are far ahead, down the canyon.  But a few people have stopped.  Some are standing.  Others are bent over.  Suddenly, a green fuzz appears in the edge of your vision.  It quickly swallows your entire field of view.  <thought>What's happening?</thought>
</p>

<p>
  Your head is suddenly gripped by a tenseness that paralyzes it.
  <if any="mitchell-plan">
    <true>
      The fire extinguisher falls from your hand.
    </true>
  </if>
  Paralyzing tenseness spreads quickly down your body until you fall over into the sand, unable to move, or hear, or speak.  Only green-tinged darkness remains.
</p>

<p>
  You are lost in the sand.
</p>

<hr/>

<end-button></end-button>

