<p>
  You decide to wait for Mitchell outside.  You hope he's quick because it's cold.  While you're waiting, you have time to think.
</p>

<p>
  There's a chance Mitchell could find the missing page.  But he'll have no idea who printed it.  <i>Or</i> he might not find it, and you can go take a look around after he leaves.
</p>

<p>
  You suddenly realize, in your self-imposed immobility, standing in the office building shrubs, that it's a beautiful night despite the cold.  You wonder what else you might have done tonight had you not jumped into this mess.
</p>

<p>
  "I might never have found out about this, and been perfectly content," you muse.  "Then again, I could have blindly been working with dangerous people for a long time.  I'd probably get mixed up in it eventually anyway.  It's better to know."
</p>

<p>
  You think about Mitchell.  He doesn't seem like a bad person&mdash;not like Tara "The Witch" Cromfield.  Maybe Mitchell accidentally fell into this like you have.  Or maybe he's a really good pretender.  He's not exactly ebullient around the office; kind of just keeps to himself.  Maybe that's the best cover.  Still... he doesn't seem like the type.
</p>

<p>
  You mull over what to do once Mitchell comes out.
</p>

<div class="prompt">
  What will you do?
</div>

<choice goto="confront-mitchell">Confront Mitchell</choice>
<choice goto="sneak-in-after-mitchell-leaves">Sneak in after he leaves</choice>